@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glamode';
  src: url('/fonts/Glamode/Glamode.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin';
  src: url('/fonts/JosefinSans/JosefinSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --gold: #ca9e51;
  --gold-light: #f9d390;
  --gold-disabled: #3d360e;
  --black-blue-grad: linear-gradient(
    180deg,
    rgba(0, 19, 59, 1) 0%,
    rgba(12, 13, 45, 1) 51%,
    rgba(22, 7, 33, 1) 100%
  );

  background: rgb(6, 6, 6);
}

main {
  background-image: url('/bg.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  transition-duration: 0.5s;
}

.bg {
  background-image: url('/bgn.png');
  background-size: 100% auto;
}

.parallelogram {
  position: relative;
  z-index: 0;
}

.parallelogram::before,
.parallelogram::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  clip-path: polygon(10% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0% 10%);
  background: var(--black-blue-grad);
}

.parallelogram::before {
  background: #f9d390;
  transform: scale(1.02);
}

.droplet {
  animation-name: droplet-key;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes droplet-key {
  0% {
    top: 0%;
    opacity: 0;
  }
  2% {
    top: 10%;
    opacity: 0;
  }
  20% {
    top: 20%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    top: 70%;
    opacity: 0.2;
  }
  85% {
    top: 80%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.floating {
  animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
}

@keyframes floatinani {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating2 {
  animation: 4s ease-in-out 0.33s infinite normal none running floatinani2;
}

@keyframes floatinani2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating3 {
  animation: 4s ease-in-out 0.33s infinite normal none running floatinani3;
}

@keyframes floatinani3 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-1px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.scroller-horizontal {
  visibility: hidden;
  display: none;
}

@media (min-width: 1024px) {
  .scroller-horizontal {
    visibility: visible;
    display: block;
  }
}

.scroller-vertical {
  visibility: visible;
  display: block;
}

@media (min-width: 1024px) {
  .scroller-vertical {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 768px) {
  .floating-token {
    animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
  }
}

@media (max-width: 768px) {
  .floating-token-small1 {
    animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
  }

  .floating-token-small2 {
    animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
    animation-delay: -1s;
  }
}

@keyframes floatinani {
  0% {
    transform: translate(1px, -5px);
  }
  50% {
    transform: translate(-1px, 0px);
  }
  100% {
    transform: translate(1px, -5px);
  }
}

.floating-title {
  animation: 6s ease-in-out 0.33s infinite normal none running floatinanititle;
}

@keyframes floatinanititle {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-1px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating-home {
  animation: 6s ease-in-out 0.33s infinite normal none running floatinanihome;
}

@keyframes floatinanihome {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-3px, 4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating-home2 {
  animation: 6s ease-in-out 0.33s infinite normal none running floatinanihome2;
  animation-delay: -2s;
}

@keyframes floatinanihome2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating-home3 {
  animation: 6s ease-in-out 0.33s infinite normal none running floatinanihome3;
  animation-delay: -3s;
}

@keyframes floatinanihome3 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.fade {
  animation: 4s ease-in-out 0.33s infinite normal none running fade;
  animation-delay: -1s;
}

@keyframes fade {
  0% {
    transform: scale(100%);
    opacity: 0.6;
  }
  50% {
    transform: scale(103%);
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 0.6;
  }
}

.current-progress > div:nth-child(1) {
  animation: 6s infinite dot1;
  animation-timing-function: step-end;
  /* animation-delay: -3s; */
}

@keyframes dot1 {
  0% {
    background-color: var(--gold-disabled);
  }
  11% {
    background-color: var(--gold-light);
  }
}

.current-progress > div:nth-child(2) {
  animation: 6s infinite dot2;
  animation-timing-function: step-end;
  /* animation-delay: -3s; */
}

@keyframes dot2 {
  0% {
    background-color: var(--gold-disabled);
  }
  22% {
    background-color: var(--gold-light);
  }
}

.current-progress > div:nth-child(3) {
  animation: 6s infinite dot3;
  animation-timing-function: step-end;
  /* animation-delay: -3s; */
}

@keyframes dot3 {
  0% {
    background-color: var(--gold-disabled);
  }
  33% {
    background-color: var(--gold-light);
  }
}
.tokenomic2{
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  width: 350px;
  height: 350px;
  right:7.7%;
  border-width: 0;
  border-color: transparent;
  transition: 0.5s ease-in-out;
}
.tokenomic{
  border-radius: 50%;
  display: flex;
  width: 350px;
  height: 350px;
  left:7.7%;
  border-width: 0;
  border-color: transparent;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 767px) {
  .tokenomic:hover{
    z-index: 10;
    left: 0;
    background: linear-gradient(180deg, #0E1220 0%, rgba(18, 22, 36, 0.932292) 80.21%, rgba(18, 22, 36, 0) 100%); 
    border-radius: 20px;
    border-width: 4px;
    position:absolute;
    width: 100%;
    height: 500px;
    border-color: #ca9e51;
  }
  
  
  .tokenomic2:hover{
    z-index: 10;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #0E1220 0%, rgba(18, 22, 36, 0.932292) 80.21%, rgba(18, 22, 36, 0) 100%); 
    border-radius: 20px;
    border-width: 5px;
    position:absolute;
    width: 100%;
    height: 500px;
    border-color: #ca9e51;
  }
  }
.hover-right{
  justify-content: end;
}
@media only screen and (max-width: 767px) {
  .tokenomic:hover{
    z-index: 10;
    left: 0;
    background: linear-gradient(180deg, #0E1220 0%, rgba(18, 22, 36, 0.932292) 80.21%, rgba(18, 22, 36, 0) 100%); 
    border-radius: 20px;
    border-width: 4px;
    position:absolute;
    width: 100%;
    height: 850px;
    border-color: #ca9e51;
  }
  
  
  .tokenomic2:hover{
    z-index: 10;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #0E1220 0%, rgba(18, 22, 36, 0.932292) 80.21%, rgba(18, 22, 36, 0) 100%); 
    border-radius: 20px;
    border-width: 5px;
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    position:absolute;
    width: 100%;
    height: 850px;
    border-color: #ca9e51;
  }
  .tokenomic2{
    width: 350px;
    height: 350px;
    transition: 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
  }
  }
.hover-right{
  justify-content: end;
}

.hover-right:hover{
  justify-content: end;
}
.hover-left:hover{
  justify-content: start;
}
.tokenomicinfo{
  display:none;
  opacity: 0;
}
.tokenomic:hover > .tokenomicinfo{
  display: block;
  opacity: 1; 
  width: 100%;
  height: 100%;
}
.tokenomic2:hover > .tokenomicinfo{
  display: block;
  opacity: 1; 
  width: 100%;
  height: 100%;
}
.EVM-HOV:hover > .EVS {
  display: none;
}
.EVS-HOV:hover > .EVM{
  background-color: #3d360e;
  display: none;
}
.EVMA{
  display: none;
}
.hover-left:hover > .hoverA > .EVMA{
  display: block;
}

.gold-trans-border-mask{
  position: relative;
}
.gold-trans-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; 
  border: 4px solid transparent;
  background: linear-gradient(180deg,#b68d47 0%,transparent 90%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.bgtrans{
  background-image: linear-gradient(180deg,#0A0910 30%, transparent 100%);
  opacity: 1;
  border-radius: 20px;
}

.trailer{
  transition: all 0.3s ease-in-out;
}


.card1{
  width: 13vw;
  transition: all 0.3s ease-in-out;
  }

  .card2{
    width: 13vw;
    transition: all 0.3s ease-in-out;
    }
    .trailertext{
      transition: all 0.3s ease-in-out;
      }

.trailer:hover{
  
    width: 80px;
    transform : translateX(10px) translateY(20px);
  
}

.trailer:hover ~ .card1{
  transition: all 0.3s ease-in-out;
  width: 300px;
  
  transform : rotate(20deg) ;
}

.trailer:hover ~ .card2{
 
  width: 350px;
  transform : rotate(-20deg) translateX(-20px) translateY(-40px);
  
}
.trailer:hover ~ .trailertext{
 
  transform : rotate(40deg) translateX(100px);
  
}
.store2{
  
}
.store2c1{
  transition: all 0.3s ease-in-out;
}
.store2:hover >  .store2c1{
  opacity: 0.9;
}
.store2c2{
  transition: all 0.2s ease-in-out;
}
.store2:hover > .store2c2{
  opacity: 1;
}

.store1{
  
}
.store1c1{
  transition: all 0.3s ease-in-out;
}
.store1:hover >  .store1c1{
  opacity: 0.9;
}
.store1c2{
  transition: all 0.2s ease-in-out;
}
.store1:hover > .store1c2{
  opacity: 1;
}
.whitepaper{
}
.whitepaper2{
  transition: all 0.2s ease-in-out;
}
.whitepaper3{
  transition: opacity 0.3s ease-in 0.2s;
  transition: opacity 0.05s ease-out 0;
}

.whitepaper:hover > .whitepaper2{
  opacity: 1;
}
.whitepaper:hover > .whitepaper3{
  opacity: 1;
}
.evmanimate{
}
@media (prefers-reduced-motion: no-preference) {
  .evmanimate {
    animation: evmanimated infinite 6s linear;
}
}
@keyframes evmanimated {
  0%    {top: 14vw;}
  25%   {top: 13.5vw;}
  50%   {top: 13vw;}
  75%   {top: 13.5vw;}
  100%  {top: 14vw;}
}

.pinanimate{
  transition: height 0.4s ease-in;
  transition: height 1.4s ease-out;
}
.pinactivate{
  transition: all 0.7s ease-in;
}
.activated{
  transform: translateY(-4.1vw);
  width: 7vw;
}

.roleo{
  transition: opacity 0.5s ease-in-out;
}
.roleactivated{
  opacity: 1;
}

.heroes-text-gold{
  background: linear-gradient(270.8deg, #D9AE5F 22.01%, #F1E3B5 56.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-shadow-black{
    text-shadow: 2px 2px #000000;
}

.pintop1 {
  z-index: 0;
  width: 150px;
  height: 150px;
  background-image: url("/jungt.png");
  background-repeat: no-repeat;
  animation: play2 1.5s steps(48) forwards; 
  background-size:cover;
}
@keyframes play1 {
  from {background-position-x: 0vw;}
  to {background-position-x: -4800px;}
}
@keyframes play2 {
  from {background-position-x: 0vw;}
  to {background-position-x: -7200px;}
}
@keyframes play3 {
  from {background-position-x: 0vw;}
  to {background-position-x: -3840px;}
}
.navbar{
  transition: width 0.5s ease-in-out;
}


@media screen and (max-width: 1279px) {
  .pintop1 {
    width: 80px;
    height: 80px;
    animation: play3 1.5s steps(48) forwards;
  }
}

@media screen and (max-width: 1599px) and (min-width: 1280px) {
  .pintop1 {
    width: 100px;
    height: 100px;
    animation: play1 1.5s steps(48) forwards; 
  }
}