@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --gold: #ca9e51;
  --gold-light: #f9d390;
  --black-blue-grad: linear-gradient(
    180deg,
    rgba(0, 19, 59, 1) 0%,
    rgba(12, 13, 45, 1) 51%,
    rgba(22, 7, 33, 1) 100%
  );

  background: rgb(6, 6, 6);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg {
  background-image: url('/bgn.png');
  background-size: 100% auto;
}

.parallelogram {
  position: relative;
  z-index: 0;
}

.parallelogram::before,
.parallelogram::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  clip-path: polygon(10% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0% 10%);
  background: var(--black-blue-grad);
}

.parallelogram::before {
  background: #f9d390;
  transform: scale(1.02);
}

.droplet {
  animation-name: droplet-key;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes droplet-key {
  0% {
    top: 0%;
    opacity: 0;
  }
  2% {
    top: 10%;
    opacity: 0;
  }
  20% {
    top: 20%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    top: 70%;
    opacity: 0.2;
  }
  85% {
    top: 80%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.floating {
  animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
}

@keyframes floatinani {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating2 {
  animation: 4s ease-in-out 0.33s infinite normal none running floatinani2;
}

@keyframes floatinani2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.floating3 {
  animation: 4s ease-in-out 0.33s infinite normal none running floatinani3;
}

@keyframes floatinani3 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-1px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.scroller-horizontal {
  visibility: hidden;
  display: none;
}

@media (min-width: 1024px) {
  .scroller-horizontal {
    visibility: visible;
    display: block;
  }
}

.scroller-vertical {
  visibility: visible;
  display: block;
}

@media (min-width: 1024px) {
  .scroller-vertical {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 768px) {
  .floating-token {
    animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
  }
}

@media (max-width: 768px) {
  .floating-token-small1 {
    animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
  }

  .floating-token-small2 {
    animation: 4s ease-in-out 0.33s infinite normal none running floatinani;
    animation-delay: 3s;
  }
}

@keyframes floatinani {
  0% {
    transform: translate(1px, -5px);
  }
  50% {
    transform: translate(-1px, 0px);
  }
  100% {
    transform: translate(1px, -5px);
  }
}
